@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {font-family: 'Poppins', sans-serif;}

.socials {
    text-align: center;
    a {
        text-decoration: none;
    }
}

.card {
	text-align: center;
  font-size: 14px;
	a:link {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.hidden {
    display: none;
}

#pageNav button {
  border: 0;
}

.btn-arrowl2 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 25px;
  height: 40px;
}
.btn-arrowl2:not([disabled]){
  background-color: #2215df;
  color: white;
}
.btn-arrowl2:not([disabled]):hover {
  background-color: #517efc;
}
.btn-arrowl2:disabled{
  background-color: #4f4b7e;
}
.btn-arrowl {
  background-color: #157cdf;
  width: 20px;
  height: 40px;
}
.btn-arrowl:not([disabled]){
  color: white;
}
.btn-arrowl:not([disabled]):hover {
  background-color: #30bbfc;
}
.btn-arrowl:disabled{
  background-color: #5c7286;
}
.btn-number {
  background-color: white;
  width: 40px;
  height: 40px;
}
.btn-number:not([disabled]):hover {
  background-color: rgb(131, 131, 131);
  color: white;
}
.btn-number:disabled {
  background-image: linear-gradient(rgb(150, 150, 150), white);
}
.btn-arrowr2 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 25px;
  height: 40px;
}
.btn-arrowr2:not([disabled]){
  background-color: #2215df;
  color: white;
}
.btn-arrowr2:not([disabled]):hover {
  background-color: #517efc;
}
.btn-arrowr2:disabled{
  background-color: #4f4b7e;
}
.btn-arrowr {
  background-color: #157cdf;
  width: 20px;
  height: 40px;
}
.btn-arrowr:not([disabled]){
  color: white;
}
.btn-arrowr:not([disabled]):hover {
  background-color: #30bbfc;
}
.btn-arrowr:disabled{
  background-color: #5c7286;
}


table.table-bordered{
    border:6px solid black;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:3px solid black;
}
table.table-bordered > tbody > tr > td{
    border:3px solid black;
}