@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {font-family: 'Poppins', sans-serif;}

.socials {
    text-align: center;
    a {
        text-decoration: none;
    }
}

.card {
	text-align: center;
	a:link {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.hidden {
    display: none;
}


.btn-arrowl {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 20px;
  height: 40px;
}
.btn-number {
  width: 40px;
  height: 40px;
}
.btn-arrowr {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 20px;
  height: 40px;
}


table.table-bordered{
    border:6px solid black;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:3px solid black;
}
table.table-bordered > tbody > tr > td{
    border:3px solid black;
}